.btn-arrow{
   
   
    border-radius: 9999px;
    padding: 1rem;
}
.slider1{
    background-image:url('images/banner1.png');
  }
  .btn-sm{

  }

  .lato {
font-family: "Lato", sans-serif;
}
.card-new{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--rounded-box, 1rem);
    justify-content: center;
     height: 100%;
}


